@import "tailwindcss";

:root {
  --background: #0a0d23;
  --foreground: #fff;
  --tymex-gray: #89888b;
  --tymex-primary-1: #da458f;
  --tymex-primary-2: #da34dd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tymex-gray: var(--tymex-gray);
  --color-tymex-primary-1: var(--tymex-primary-1);
  --color-tymex-primary-2: var(--tymex-primary-2);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background) url("/images/space-background.png") no-repeat
    center center fixed;
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
